@page "{id}"
@model DotNet_Gram.Pages.NetGrams.IndexModel
@{
    Layout = "_Layout";
}
<section>
<div>
    <label asp-for="NetGram.NamePoster">@Model.NetGram.NamePoster</label>
</div>

<div>
    <label asp-for="NetGram.Caption">@Model.NetGram.Caption</label>
</div>

<div>
    <img src=@Model.NetGram.ImageURL>
</div>

<a asp-page="/NetGrams/Manage" asp-route-id="@Model.NetGram.ID">EDIT</a>
</section>