@page "{id?}"
@model DotNet_Gram.Pages.NetGrams.ManageModel
@{
    ViewData["Title"] = "Manage";
    Layout = "_Layout";
 }

<h1>Manage</h1>

<form method="post" enctype="multipart/form-data">

    <label asp-for="Image"></label>
    <input asp-for="Image" type="file"/>

    <label asp-for="NetGram.NamePoster"></label>
    <input asp-for="NetGram.NamePoster" />

    <label asp-for="NetGram.Caption"></label>
    <input asp-for="NetGram.Caption" />

    <button type="submit">SAVE</button>
    <button type="submit" asp-page-handler="Delete">DELETE</button>


</form>
